::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.sidebar {
  background-color: #ebeff4;
  height: 100%;
  transition: width 0.3s;
}

.thread-container {
  height: calc(100% - 50px);
  overflow-y: scroll;
}

/* not small devices  */
@media (min-width: 576px) {
  .sidebar {
    width: 320px;
  }
}
