.form-container {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #a9bace;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.form-container input {
  padding: 0.5rem 1rem;
  border: none;
  width: 75%;
}

.form-container input:focus {
  outline: none;
}

.form-container button {
  outline: none;
  border: none;
  margin-left: 0.75rem;
  padding: 0.25rem;
  line-height: 10px;
  background-color: inherit;
  font-size: 2rem;
  cursor: pointer;
  color: rgb(41, 41, 241);
}

.form {
  display: flex;
  align-items: center;
}
