.search-input {
  background-color: #182d46;
  padding: 0.275rem 1rem 0.275rem 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 0.25rem;
  height: 2rem;
}

.search-input input {
  border: none;
  outline: none;
  padding: 0 0.25rem;
  width: 300px;
  background-color: inherit;
  margin: 0 0.5rem;
  color: inherit;
}

.clearBtn {
  cursor: pointer;
  padding: 0;
  margin: 0;
}
