.App {
  height: 100%;
  display: flex;
  color: rgb(0, 0, 0);
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  height: 50px;
}

.content {
  display: flex;
  height: calc(100vh - 50px);
}
